name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'code/ci/**'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16, 18, 20 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js | ${{ matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version}}
          cache: 'yarn'
          cache-dependency-path: code/ci/yarn.lock

      - run: 'yarn'
        working-directory: code/ci

      - run: 'yarn run test'
        working-directory: code/ci